Repository yacchi/backlog-cli: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, web-prettier, cdk-prettier

lefthook.yml:

# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    web-prettier:
      root: "web/"
      glob: "*.{ts,tsx,js,jsx,css,md,json}"
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true
    cdk-prettier:
      root: "deploy/aws-cdk/"
      glob: "*.{ts,js,json}"
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true

Add Backlog to GFM conversion spec
  .gitignore
  docs/backlog-gfm-conversion-spec.md
  docs/plans/13-blg-to-gfm-migration.md
Due: none

Use configured cache dir for markdown analysis
  internal/cmd/issue/view.go
  internal/cmd/pr/view.go
  internal/cmd/wiki/view.go
  internal/cmdutil/markdown_render.go
  internal/cmdutil/markdown_view.go
  internal/markdown/cache.go
Due: go-fmt

Align markdown cache path with cache.dir
  docs/backlog-gfm-conversion-spec.md
Due: none

Add markdown view conversion support
  docs/plans/13-blg-to-gfm-migration.md
  internal/cmd/issue/view.go
  internal/cmd/pr/view.go
  internal/cmd/wiki/view.go
  internal/cmdutil/markdown_render.go
  internal/cmdutil/markdown_view.go
  internal/config/defaults.yaml
  internal/config/resolved.go
  internal/markdown/cache.go
  internal/markdown/convert.go
  internal/markdown/detect.go
  internal/markdown/types.go
  internal/markdown/warnings.go
Due: go-fmt

Enable markdown conversion for issue list summaries
  internal/cmd/config/set.go
  internal/cmd/issue/list.go
Due: go-fmt

Add markdown logs command
  internal/cmd/markdown/logs.go
  internal/cmd/markdown/markdown.go
  internal/cmd/root.go
Due: go-fmt

Fix markdown conversion block tokens and tests
  internal/markdown/convert.go
  internal/markdown/convert_test.go
Due: go-fmt

Add markdown conversion unit tests
  internal/markdown/cache_test.go
  internal/markdown/convert_test.go
  internal/markdown/detect_test.go
  internal/markdown/warnings_test.go
Due: go-fmt

Include URLs and line numbers in markdown logs
  docs/backlog-gfm-conversion-spec.md
  internal/cmd/issue/list.go
  internal/cmd/issue/view.go
  internal/cmd/markdown/logs.go
  internal/cmd/pr/view.go
  internal/cmd/wiki/view.go
  internal/cmdutil/markdown_render.go
  internal/markdown/cache.go
  internal/markdown/convert.go
  internal/markdown/types.go
  internal/markdown/warnings.go
Due: go-fmt

Add markdown migration workflow and conversion updates
  internal/cmd/markdown/migrate.go
  internal/markdown/convert.go
  internal/markdown/convert_test.go
  internal/markdown/types.go
Due: go-fmt

Fix wiki view markdown URL scope
  internal/cmd/wiki/view.go
Due: go-fmt

docs(readme): ドキュメント更新と依存関係のアップデート
  .gitignore
  README.md
  go.mod
  go.sum
Due: none

migrate: accept project key arg and workspace dir
  internal/cmd/markdown/migrate.go
Due: go-fmt

chore: update gitignore and mise config
  .gitignore
  .mise.toml
Due: none

migrate: default to current dir and clean rollback flow
  internal/cmd/markdown/migrate.go
Due: go-fmt

feat(issue-type): 課題種別を管理するコマンドを追加
  internal/api/client.go
  internal/api/project.go
  internal/cmd/issue_type/create.go
  internal/cmd/issue_type/delete.go
  internal/cmd/issue_type/edit.go
  internal/cmd/issue_type/issue_type.go
  internal/cmd/issue_type/list.go
  internal/cmd/issue_type/view.go
  internal/cmd/root.go
  internal/ui/color.go
Due: go-fmt

migrate: support issue type templates and snapshot append
  internal/cmd/markdown/migrate.go
  internal/markdown/convert.go
  internal/markdown/detect.go
  internal/markdown/detect_test.go
Due: go-fmt

feat(markdown): #image()マクロ変換をサポート
  internal/cmd/issue/list.go
  internal/cmd/issue/view.go
  internal/cmd/pr/view.go
  internal/cmd/wiki/view.go
  internal/cmdutil/markdown_render.go
  internal/markdown/convert_test.go
  internal/markdown/types.go
Due: go-fmt

markdown: configure unsafe rules without rule prefix
  internal/cmd/markdown/migrate.go
  internal/cmdutil/markdown_render.go
  internal/cmdutil/markdown_view.go
  internal/config/defaults.yaml
  internal/config/resolved.go
  internal/markdown/convert.go
  internal/markdown/convert_test.go
  internal/markdown/types.go
Due: go-fmt

markdown: preserve gfm table headers
  internal/markdown/convert.go
Due: go-fmt

docs(readme): READMEを最新の機能に合わせて更新
  README.md
Due: none

Add relay config bundle spec
  docs/relay-config-bundle-spec.md
Due: none

test: cover relay bundle and harden portal auth
  internal/config/relay_bundle.go
  internal/config/relay_bundle_create.go
  internal/config/relay_bundle_create_test.go
  internal/config/relay_bundle_test.go
  internal/config/relay_info_test.go
  internal/domain/domain.go
  internal/jwk/jwk.go
  internal/relay/bundle.go
  internal/relay/bundle_auth.go
  internal/relay/info.go
  internal/relay/info_test.go
  internal/relay/portal.go
  internal/relay/server.go
  web/src/pages/Portal.tsx
Due: go-fmt, web-prettier

test(config): テストカバレッジを向上
  internal/config/relay_bundle_create_test.go
  internal/config/relay_bundle_test.go
  internal/config/relay_info_test.go
  internal/config/trust_test.go
  internal/domain/domain_test.go
  internal/jwk/jwk_test.go
Due: go-fmt

docs(CLAUDE.md): プロジェクトメモリを最新化
  CLAUDE.md
Due: none

chore: bump version to 0.6.0
  version.txt
Due: none

feat(aws-cdk): CloudFront対応を追加
  deploy/aws-cdk/README.md
  deploy/aws-cdk/lib/relay-stack.ts
  deploy/aws-cdk/lib/types.ts
Due: cdk-prettier

feat(aws-cdk): OACによるFunction URL直接アクセス防止を追加
  deploy/aws-cdk/lib/relay-stack.ts
Due: cdk-prettier

feat(aws-cdk): Lambda@EdgeでOAC+POSTリクエスト対応を追加
  deploy/aws-cdk/.gitignore
  deploy/aws-cdk/lambda-edge/index.ts
  deploy/aws-cdk/lib/relay-stack.ts
  deploy/aws-cdk/package.json
  deploy/aws-cdk/pnpm-lock.yaml
Due: cdk-prettier

fix(aws-cdk): Lambda@EdgeでCloudFrontドメインを正しく取得
  deploy/aws-cdk/lambda-edge/index.ts
Due: cdk-prettier

refactor(aws-cdk): CloudFront構成を改善しX-Original-Hostヘッダー対応を追加
  deploy/aws-cdk/lambda-edge/index.ts
  deploy/aws-cdk/lib/relay-stack.ts
  internal/relay/handlers.go
  internal/relay/info.go
  internal/relay/portal.go
Due: go-fmt, cdk-prettier

feat(aws-cdk): JWKSをオブジェクト形式で設定可能に
  deploy/aws-cdk/config.example.ts
  deploy/aws-cdk/lib/relay-stack.ts
  deploy/aws-cdk/lib/types.ts
Due: cdk-prettier

refactor(config): certsキャッシュTTLをBundle毎の設定に変更
  internal/auth/connect_handler.go
  internal/cmd/auth/login.go
  internal/cmd/config/import.go
  internal/config/defaults.yaml
  internal/config/relay_bundle.go
  internal/config/relay_info.go
  internal/config/resolved.go
  internal/config/trust.go
Due: go-fmt

feat(relay): CloudFrontキャッシュ対応とinfo認証不要化
  deploy/aws-cdk/README.md
  deploy/aws-cdk/lib/relay-stack.ts
  deploy/aws-cdk/lib/types.ts
  deploy/aws-cdk/package.json
  deploy/aws-cdk/scripts/invalidate-cache.sh
  internal/config/defaults.yaml
  internal/config/resolved.go
  internal/relay/bundle_auth.go
  internal/relay/certs.go
  internal/relay/info.go
Due: go-fmt, cdk-prettier

refactor(relay): キャッシュ制御をアプリケーション側に移行
  Makefile
  deploy/aws-cdk/lib/relay-stack.ts
  internal/config/defaults.yaml
  internal/config/resolved.go
  internal/config/resolved_paths.go
  internal/config/store.go
  internal/config/store_test.go
  internal/relay/access.go
  internal/relay/bundle.go
  internal/relay/bundle_auth.go
  internal/relay/cache.go
  internal/relay/certs.go
  internal/relay/handlers.go
  internal/relay/info.go
  internal/relay/portal.go
  internal/relay/ratelimit.go
  internal/relay/request.go
  internal/relay/server.go
  internal/relay/wellknown.go
Due: go-fmt, cdk-prettier

feat(config): バンドルインポート時に確認プロンプトと詳細表示を追加
  internal/auth/connect_handler.go
  internal/cmd/auth/login.go
  internal/cmd/config/import.go
  internal/config/relay_bundle.go
  internal/config/relay_info.go
Due: go-fmt

docs: パッケージ構造リファクタリング計画を追加
  docs/plans/backlog-cli-refactor-plan.md
Due: none

chore: Makefileに中継サーバービルドターゲットを追加
  .gtrconfig
  Makefile
Due: none
