Repository yacchi/backlog-cli: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, web-prettier, cdk-prettier

lefthook.yml:

# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files} && git add {staged_files}
    web-prettier:
      root: "web/"
      glob: "*.{ts,tsx,js,jsx,css,md,json}"
      run: pnpm exec prettier --write {staged_files} && git add {staged_files}
    cdk-prettier:
      root: "deploy/aws-cdk/"
      glob: "*.{ts,js,json}"
      run: pnpm exec prettier --write {staged_files} && git add {staged_files}

feat: パッケージルートに公開APIを追加
  config.go
  deploy/aws-cdk/lambda/main.go
  deploy/aws-cdk/lib/relay-stack.ts
  relay.go
Due: go-fmt, cdk-prettier

Fix retry, config and color handling
  AGENTS.md
  README.md
  deploy/aws-cdk/README.md
  deploy/aws-cdk/config.example.ts
  deploy/aws-cdk/lambda/main.go
  deploy/aws-cdk/lib/relay-stack.ts
  deploy/aws-cdk/lib/types.ts
  docs/oauth-relay-server-design.md
  docs/plans/00-overview.md
  docs/plans/01-foundation.md
  docs/plans/02-config.md
  docs/plans/03-relay-server.md
  docs/plans/04-cli-auth.md
  docs/plans/05-relay-advanced.md
  docs/plans/10-improvements.md
  internal/api/client.go
  internal/api/retry.go
  internal/cmd/root.go
  internal/config/defaults.yaml
  internal/config/resolved.go
  internal/config/resolved_paths.go
  internal/relay/server.go
Due: go-fmt, cdk-prettier

feat(auth): Connect-RPC + Buf への移行
  .mise.toml
  Makefile
  buf.gen.yaml
  buf.yaml
  docs/plans/12-connect-buf-migration.md
  gen/go/auth/v1/auth.pb.go
  gen/go/auth/v1/authv1connect/auth.connect.go
  gen/ts/auth/v1/auth_connect.ts
  gen/ts/auth/v1/auth_pb.ts
  go.mod
  go.sum
  internal/auth/callback.go
  internal/auth/connect_handler.go
  internal/config/defaults.yaml
  internal/config/resolved.go
  proto/auth/v1/auth.proto
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.tsx
  web/src/context/AuthContext.tsx
  web/src/context/StreamingContext.tsx
  web/src/context/WebSocketContext.tsx
  web/src/gen/auth/v1/auth_connect.ts
  web/src/gen/auth/v1/auth_pb.ts
  web/src/lib/connect-client.ts
  web/src/pages/LoginConfirm.tsx
  web/src/pages/LoginSetup.tsx
  web/tsconfig.app.json
  web/vite.config.ts
Due: go-fmt, web-prettier

chore(build): buf generateをスタンプファイルで最適化
  .gitignore
  Makefile
Due: none

fix(lefthook): stage_fixedオプションで自動ステージングに変更
  lefthook.yml
Due: none

chore(release): v0.1.0-beta.7
  version.txt
Due: none

fix(ci): mise、pnpm、Node.jsのセットアップを追加
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(mise): go-sdkからmise標準のgoに移行
  mise.toml
Due: none

fix(test): CGO_ENABLED=1を明示的に設定してraceを有効化
  Makefile
Due: none

fix(mise): CGO_ENABLED=0を削除してテストを修正
  mise.toml
Due: none

fix(goreleaser): update homebrew repository name from `homebrew-tap` to `tap`
  .goreleaser.yaml
Due: none

chore: Releaseワークフローをトリガー
  version.txt
Due: none

fix(ci): buf-generate後にprettierでフォーマット
  Makefile
  version.txt
Due: none

fix(ci): buf-generate時にpnpm installを追加
  Makefile
Due: none

chore: Releaseをトリガー
  version.txt
Due: none

fix(ci): GitHub App tokenのリポジトリをtapに修正
  .github/workflows/release.yml
Due: none

chore(release): v0.1.0
  version.txt
Due: none

chore: v0.1.0リリースをトリガー
  version.txt
Due: none

Revert "fix(goreleaser): update homebrew repository name from `homebrew-tap` to `tap`"
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none

fix(api): relayServer URLの末尾スラッシュを除去
  internal/api/client.go
Due: go-fmt

chore(release): v0.1.1
  version.txt
Due: none

feat: Claude Codeプラグイン対応
  .claude-plugin/plugin.json
  internal/cmd/auth/me.go
  internal/cmd/auth/status.go
  internal/cmd/issue/view.go
  internal/cmd/project/current.go
  internal/cmd/project/project.go
  skills/backlog-issue/SKILL.md
  skills/backlog/SKILL.md
Due: go-fmt

chore(release): v0.2.0
  version.txt
Due: none

fix(ci): リリースワークフローの競合状態を修正
  .github/workflows/release.yml
Due: none

chore(release): v0.2.1
  version.txt
Due: none

refactor(plugin): skillsディレクトリを.claude-plugin配下に移動
  .claude-plugin/skills/backlog-issue/SKILL.md
  .claude-plugin/skills/backlog/SKILL.md
Due: none

feat(cmd): ghコマンドに合わせたCLIインターフェースの改善
  internal/cmd/issue/comment.go
  internal/cmd/issue/create.go
  internal/cmd/issue/edit.go
  internal/cmd/issue/issue.go
  internal/cmd/issue/list.go
  internal/cmd/issue/reopen.go
  internal/cmd/pr/list.go
  internal/cmdutil/helpers.go
Due: go-fmt

chore(release): v0.3.0
  version.txt
Due: none

fix: Lintエラーを修正
  internal/cmd/issue/list.go
  internal/cmdutil/helpers.go
  internal/ui/handler.go
Due: go-fmt

feat(issue): 操作完了後にURLを表示
  internal/cmd/issue/close.go
  internal/cmd/issue/comment.go
  internal/cmd/issue/edit.go
  internal/cmd/issue/reopen.go
Due: go-fmt

docs(skill): backlog-issueスキルのドキュメントを更新
  .claude-plugin/skills/backlog-issue/SKILL.md
Due: none

docs(skill): backlogスキルのPRリストコマンドを更新
  .claude-plugin/skills/backlog/SKILL.md
Due: none

docs(skill): テキスト整形フォーマットのガイドを追加
  .claude-plugin/skills/backlog-issue/SKILL.md
  .claude-plugin/skills/backlog/SKILL.md
Due: none

docs(skill): 認証チェックをauth meに変更
  .claude-plugin/skills/backlog-issue/SKILL.md
  .claude-plugin/skills/backlog/SKILL.md
Due: none

feat(cmd): --formatオプションでGoテンプレートによるJSON出力フィルタリングを追加
  .claude-plugin/skills/backlog-issue/SKILL.md
  .claude-plugin/skills/backlog/SKILL.md
  internal/cmd/issue/list.go
  internal/cmd/issue/view.go
  internal/cmd/pr/list.go
  internal/cmd/project/list.go
  internal/cmd/project/view.go
  internal/cmd/root.go
  internal/cmdutil/output.go
  internal/config/resolved.go
  internal/config/resolved_paths.go
Due: go-fmt

feat(auth): ブラウザ完結型認証の--webオプションを追加
  gen/go/auth/v1/auth.pb.go
  gen/go/auth/v1/authv1connect/auth.connect.go
  gen/ts/auth/v1/auth_connect.ts
  gen/ts/auth/v1/auth_pb.ts
  internal/auth/connect_handler.go
  internal/cmd/auth/login.go
  proto/auth/v1/auth.proto
  scripts/backlog-cli-auto-close.user.js
  web/src/App.tsx
  web/src/components/Input.tsx
  web/src/context/AuthContext.tsx
  web/src/gen/auth/v1/auth_connect.ts
  web/src/gen/auth/v1/auth_pb.ts
  web/src/pages/AuthComplete.tsx
  web/src/pages/LoginApiKey.tsx
  web/src/pages/LoginConfirm.tsx
  web/src/pages/LoginMethodSelect.tsx
Due: go-fmt, web-prettier

docs(skill): auth loginコマンドに--webオプションを追加
  .claude-plugin/skills/backlog-issue/SKILL.md
  .claude-plugin/skills/backlog/SKILL.md
Due: none

chore: bump version to 0.4.0
  .claude-plugin/plugin.json
  version.txt
Due: none

feat(cmd): issue commentコマンドに編集機能を追加
  internal/cmd/issue/comment.go
Due: go-fmt

chore: bump version to 0.5.0
  version.txt
Due: none
